<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Developer Blog</title>
  <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="jumbotron">
    <img src="../../public/images/tech-blog-logo.png" class="rounded mx-auto d-block">
    <h1 class="display-4 text-center">Tech Blog</h1>
    <p class="lead text-center">Bringing developers together to share their knowledge with the world!
    </p>
  </div>
  <!-- Navbar content -->
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a href="/">Homepage</a>
      <a href="/dashboard">Dashboard</a>
      <!-- Conditionally render login or logout links -->
      {{#if logged_in}}
      <a href="/profile">Profile</a> |
      
      {{else}}
      <a href="/signup">Sign Up</a>
      <a href="/login">Login</a>
      <a href="" id="logout">Logout</a>
      
      {{/if}}
  </nav>
  
  
  <main class="container">
    <div class="row">
      <div class="col-12 mt-5">
        <!-- Render the sub layout -->
        {{{ body }}}
      </div>
    </div>
  </main>

  <footer>
    <!-- Render script for logged in users only -->
    <script src="/js/logout.js"></script>
    {{#if logged_in}}
    
    {{/if}}
  </footer>
</body>

</html>