<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Developer Blog</title>
  <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="jumbotron">
    <h1 class="display-4 text-center">Tech Blog</h1>
    <p class="lead text-center">Bringing developers together to share their knowledge with the world!</p>
  
    <nav class="text-center">
      <a href="/">Homepage</a>
      <a href="/dashboard">Dashboard</a>
      <!-- Conditionally render login or logout links -->
      {{#if logged_in}}
      <a href="/profile">Profile</a> |
      <button class="no-button" id="logout">Logout</button>
      {{else}}
      <a href="/login">Login</a>
      <a href="/signup">Sign Up</a>
      {{/if}}
    </nav>
  </div>
  
  <main class="container container-fluid">
    <!-- Render the sub layout -->
    {{{ body }}}
  </main>

  <footer>
    <!-- Render script for logged in users only -->
    {{#if logged_in}}
    <script src="../../public/js/logout.js"></script>
    {{/if}}
  </footer>
</body>

</html>