
<div class="row mb-4 project">
  <div class="col-md-6">
    <h2>
      {{posts.title}}
    </h2>
    <p>
      {{posts.date_created}}
      {{posts.content}}
    </p>
  </div>
</div>

<script src="/js/add-comment.js"></script>